.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.password-generator h2{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 40px;
  font-weight: 500;
}
.pswd-copy{
  display: flex;
  font-weight: 500;
  gap: 15px;
}
.pswd-copy input{
  width: 100%;
  height: 30px;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;

}
.pswd-copy button{
  background:#2f8df3;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 8rem;
  height: 35px;

  
}
.pswd-copy button:hover{
  background:gainsboro;
  color: #2f8df3;

}
.length-range  {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
 
 
}
.length-range input[type="range"] {
  width: 100%;
  height: 10px;
  margin-top: 5px;
  appearance: none;
  background: #d3d3d3;
  border-radius: 5px;


}
.input-checkboxes{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;

}
body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  background-repeat: no-repeat;
  /* Adjust the gradient direction and colors as needed */
  font-family: Arial, sans-serif; /* Example font-family */
  width: 100%;
  height: 100vh;
}
.password-generator{
  padding: 30px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 200px;


}
.btn{
  background:#2f8df3;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 8rem;
  height: 35px;
  width: 250px;
  margin-top: 20px;

}
/* Additional styling for other elements can go here */

/* For screens smaller than 600px */
@media screen and (max-width: 600px) {
  .password-generator {
    margin: 20px;
  }

  .length-range,
  .input-checkboxes {
    flex-direction: column;
  }

  .length-range,
  .input-checkboxes,
  .pswd-copy {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .pswd-copy button {
    width: 100%;
  }
}

/* For screens smaller than 900px */
@media screen and (max-width: 900px) {
  .password-generator {
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* For screens smaller than 1200px */
@media screen and (max-width: 1200px) {
  .password-generator {
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* For screens smaller than 1600px */
@media screen and (max-width: 1600px) {
  .password-generator {
    margin-left: 200px;
    margin-right: 200px;
  }
}
